* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(209, 209, 209, 0.722), rgba(158, 156, 156, 0.929)), url(img/bangladesh2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
    color: white;
    background-color: hsl(0, 0%, 0%);
}
nav {
    background-color: rgba(255, 250, 241, .8);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}



nav a:hover, 
nav a.active {
    color: white;
    background-color: hsla(0, 0%, 0%, 0.591);
}
#nav-logo img{
    height: 3em;
    border-radius: 50%;
}
#nav-logo:hover {
    filter: brightness(80%) !important;
    background-color: transparent !important;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}



/* HERO */
.hero {
    width: 100%;
    height: 100vh;
}

.hero-img {
    filter: brightness(80%);
    float: left;
    margin-top: 80px;
    margin-right: 30px;
    width: 300px;
    height: auto;
    margin-left: 130px;
    border-radius: 50%;
}

.hero-container {
    float: left;
    text-align: left;
    margin-top: 80px;
    width: 40%;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.hero-container p {
    display: inline;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

#description {
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 1px;
    margin-top: 15px;
}

button {
    font-family: cursive;
    color: rgb(0, 0, 0);
    background-color: #FFFAF1;
    font-size: 25px;
    margin-top: 20px;
    padding: 5px 15px 5px 15px;
    border: 1px solid white;
    border-radius: 30px;
}

button:hover {
    background-color: white;
}

button:active {
    color: black;
    background-color: #FFFAF1;
    border: 2px solid black;

}

aside {
    float: right;
    margin-right: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

aside a {
    margin-bottom: 10px;
}

.fb {
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.fb:hover {
    color: #316FF6;
}

.twitter {
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.twitter:hover {
    color: #1DA1F2;
}

.linked-in {
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.linked-in:hover {
    color: #0077B5;
}

.email{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.email:hover {
    color: #cc222850;
}

.github {
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.github:hover {
    color:  #333;
}










/* FOOTER */
footer{
    background-color: hsl(0, 0%, 11%);
    padding: 30px;
}

.foot-logo {
    text-decoration: none;
    font-family:monospace;
    color: rgb(0, 255, 0);
    font-size: 28px;
}

.foot-logo:hover {
    color: rgba(0, 255, 0, 0.811);
}